{{#each games as |game| }}
<div class="row">
  <a class="col-3 h3 mt-5 text-center game-titles" href="/api/games/{{game.id}}">{{game.title}}</a>
  <img class="col-3 p-5" src={{game.cover}}>
  <p class="col-6 mt-5">
    {{game.game_description}}
  </p>
</div>
{{/each}}
<!--Sign in Advertisement-->
<div class="advertise container mx-auto px-auto">
  <p class="lead">Sign up to write your own review!</p>
  <h1 class="display-4"><a href="/login" class="text-dark">Sign Up</a></h1>
</div>
