<nav class="navbar navbar-light bg-light vh-100">
  <form class="form-inline searchForm d-flex flex-column justify-content-center align-items-center">
    <input
      class="form-control mr-sm-2 my-4 text-center w-50"
      type="search"
      placeholder="Search a game!"
      aria-label="Search"
      id="form-input"
    />
    <button
      class="btn btn-outline-secondary my-2 my-sm-0  w-25"
      id="searchBtn"
      type="submit"
    >Search</button>
  </form>
</nav>
<script src="/js/game.js"></script>